:root {
  --dark-blue: hsl(235, 46%, 20%);
  --pale-blue: hsl(236, 100%, 87%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --white: hsl(200, 100%, 99%);
  --blue: hsl(246, 80%, 60%);
}

.tracks {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 250px);
}

@media (max-width: 992px) {
  .tracks {
    grid-template-columns: repeat(2, 250px);
  }
}

@media (max-width: 768px) {
  .tracks {
    width: 100%;
    grid-template-columns: minmax(250px, 1fr);
  }
}

.track {
  width: 250px;
  height: calc(250px - 50px);
  margin-top: 40px;
  user-select: none;
  position: relative;
}

@media (max-width: 768px) {
  .track {
    width: 100%;
  }
}


.track .wrapper {
  height: 100%;
}

.track .wrapper .img {
  position: absolute;
  top: -40px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  z-index: 1;
}

.track .wrapper .img img {
  width: 75px;
  height: 75px;
  position: absolute;
  right: 20px;
  top: 50%;
  translate: 0 -50%;
}

.track:nth-child(1) .wrapper .img {
  background-color: #ff8b64;
}

.track:nth-child(2) .wrapper .img {
  background-color: #56c2e6;
}

.track:nth-child(3) .wrapper .img {
  background-color: #ff5e7d;
}

.track:nth-child(4) .wrapper .img {
  background-color: #4bcf83;
}

.track:nth-child(5) .wrapper .img {
  background-color: #7235d1;
  
}

.track:nth-child(6) .wrapper .img {
  background-color: #f1c75b;
  
}

.track .wrapper .content {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 30px;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  z-index: 2;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  cursor: pointer;
}

.track:hover .wrapper .content {
  background-color: var(--blue);
}

.track .wrapper .content header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.track .wrapper .content header h3 {
  font-weight: normal;
  font-size: 16px;
}

.track .wrapper .content header i {
  scale: 1.2 1;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  color: #b7b7b7;
}

.track .wrapper .content header i:hover {
  color: #fff;
}

.track .wrapper .content time {
  display: block;
  font-size: 50px;
  font-weight: 100;
  margin: 30px 0 10px;
}

.track .wrapper .content .last-time {
  color: #a19bff;
  font-size: 12px;
}

.track:hover .wrapper .content .last-time {
  color: #fff;
}